
<head>
    <link href='https://fonts.googleapis.com/css?family=Passion+One:400,700' rel='stylesheet' type='text/css'>
</head>

<style>
    h1{
        font-family: 'Passion One';
        font-size: 4em;
        text-align: center;
    }
    
    h2{
        font-family: 'Passion One';
        font-size: 3em;
        text-align: center;
    }
</style>

<p id="notice"><%= notice %></p>

<h1>Lugnuts Website Team</h1>
<h2>*~KEA designs~*</h2>
<center>
    <div class="grid_4">
        <b>K</b>imberley Foster
    </div>
    
    <div class="grid_4">
        <b>E</b>mily Morgan
    </div>
    
    <div class="grid_4">
        <b>A</b>ndrew Birnbrich
    </div>
</center>