<head>
    <link href='https://fonts.googleapis.com/css?family=Passion+One:400,700' rel='stylesheet' type='text/css'>
</head>
<style>
    h1, h2{
        font-family: 'Passion One';
    }
</style>

<h2>Edit Your Post, <%= current_user.username %></h2>

<%= render 'form2' %>

<%= link_to 'Back to Comments', new_blog_path %>
