<head>
    <link href='https://fonts.googleapis.com/css?family=Passion+One:400,700' rel='stylesheet' type='text/css'>
</head>
<style>
    h1, h2{
        font-family: 'Passion One';
    }
</style>

<h1>New Lug</h1>

<%= render 'form' %>

<%= link_to 'Back', lugs_path %>
