<div class="grid_3" style="height:400px; margin-top:10px">
    <img src="../Gears_AboutUs.png" style="width:220px">
    <img src="../wrench_AboutUs.png" style="width:220px">
</div>

<div class="grid_9" style="margin-top:10px">
    
    <h1 style="font-size:30"> Our Background </h1>
    <p style="margin:10 0 0 20; font-size:20">Larry Lugnuts, the founder of Lugnuts Automotive, started the 
business in 1965. Larry was devoted to keeping prices affordable 
and providing outstanding customerservice, a business model 
that stands to this day. Larry built his clientele through close 
customer interaction. He believed in the “personal touch”, while 
keeping product prices affordable. </p>
</br>
    
    <h1 style="font-size:30; margin-top:10px"> Our Mission </h1>
    <p style="margin:10 0 0 20; font-size:20">Lugnuts Automotive is committed to providing the ultimate 
consumer experience through the distribution of quality automobile 
parts at an affordable price while  maintaining superior customer 
service. Lugnuts Automotive puts the customer first.</p>
</br>

    <h2 style="font-size:30; margin-top:10px"> Our Values </h2>
    <p style="margin:10 0 0 20; font-size:20">Today, Lugnuts Automotive continues to be an automotive staple 
in Central Ohio. CEO Peggy Lugnuts follows in her grandfathers’ 
footsteps and is in charge of operations. Lugnuts has established 
the business by building trust and loyalty with our customers, and 
remains dedicated to selling replacement parts and accessories at 
the lowest price in Central Ohio. </p>
</div>
<div class="clear"></div>

<!-- Loaction and Direction -->
    <div class="grid_4" style="height:100px; margin-top:50px"></div>
    <div class="grid_4" style="height:100px; margin-top:50px">
      <table style="margin:0 auto 0 auto">
      <tr> 
      <td style="text-align:center">Store Location:</td>
      <td style="text-align:center"> 123 Fake St</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align:center"> Columbus, Ohio 43210 </td>
      </tr>
      <tr>
          <td></td>
          <td></td>
      </tr>
      <tr>
        <td style="text-align:center">Hours: </td>
        <td style="text-align:center">M-F: 9-7</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align:center">Sat: 10-6</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align:center">Sun: 12-5</td>
      </tr>
      
      </table>
      
      
    </div>
    <div class="grid_4" style="height:100px; margin-top:50px"></div>
    <div class="clear"></div>


<!-- End of 960 Grid -->
</div>
