<style>
	h1{
		font-size: 25;
		font-family: 'Passion One', cursive;
		text-align: center;
	}
	
	p{
		margin: 10 0 0 20;
		font-size: 12;
	}

</style>

<head>
  <link href='https://fonts.googleapis.com/css?family=Passion+One:400,700' rel='stylesheet' type='text/css'>
</head>

<div class="grid_3" style="height:400px; margin-top:10px">
    <img src="../Lugnuts_Eco.png" style="width:220px"><br><br>
    <img src="../everythinginlife.png" style="width:220px">
</div>
<%= link_to 'Meet the Team', teams_path %>

<div class="grid_9" style="margin-top:10px; background-color: #d3d3d3">
    
    <h1> Our Background </h1>
		<p>Larry Lugnuts, the founder of Lugnuts Automotive, started the 
			business in 1965. Larry was devoted to keeping prices affordable 
			and providing outstanding customerservice, a business model 
			that stands to this day. Larry built his clientele through close 
			customer interaction. He believed in the “personal touch”, while 
			keeping product prices affordable. 
		</p>
		</br>
    
    <h1> Our Mission </h1>
		<p>Lugnuts Automotive is committed to providing the ultimate 
			consumer experience through the distribution of quality automobile 
			parts at an affordable price while  maintaining superior customer 
			service. Lugnuts Automotive puts the customer first.
		</p>
		</br>

    <h1> Our Values </h1>
		<p>Today, Lugnuts Automotive continues to be an automotive staple 
			in Central Ohio. CEO Peggy Lugnuts follows in her grandfathers’ 
			footsteps and is in charge of operations. Lugnuts has established 
			the business by building trust and loyalty with our customers, and 
			remains dedicated to selling replacement parts and accessories at 
			the lowest price in Central Ohio.
		</p>
		</br>

	<h1>Lugnuts Recycles</h1>
		<p>Old motor oil can be refined, reconditioned or reprocessed to become usable again.  Therefore, Lugnuts is dedicated to providing this eco-friendly service to local and surrounding areas.  <br><br>
			<b>What Can Be Recyled?</b><br><br>
			<i>Motor Oil</i><br> Oil can be refined by removing chemical impurities, or reprocessed into fuel.  <br><br>
			<i>Motor Oil Containers</i><br>
			Although made of plastic, motor oil bottles have a limited recycling market because they are not food-grade plastic.  However, Lugnuts will recycle them for you safely and conveniently!<br><br>
			<i>Oil Filters</i><br>
			Oil filters are mostly made of steel.  Before recycling them, all oil must be removed!<br><br>
		</p>
</div>

<div class="clear"></div>

<!-- Loaction and Direction -->


  <div class="grid_9"  class="shadow" class="hide" style="float:right;background-color:#CCC; height:50px; margin-top:10px; 
    border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px">
    <table>
      <tr> 
        <td style="font-size:8pt; padding-left: 50px">Store Location:</td>
        <td></td>
        <td align="right" style="font-size:8pt; padding-left: 20px"> 123 Buckeye Fan Ave., Columbus, Ohio 43210</td>
      </tr>
      <tr> 
        <td style="min-width:25%; font-size:8pt; padding-left: 50px ">Store Hours:</td>
        <td></td>
        <td style="font-size:8pt;  padding-left: 20px">Monday-Friday 7:00-9:00 &nbsp;&nbsp;&nbsp; Saturday 10:00-6:00 &nbsp;&nbsp;&nbsp; Sunday 12:00-5:00</td>
      </tr>
    </table>
  </div>      
    <div class="clear"></div>
  


<!-- End of 960 Grid -->
</div>
